@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #333333;
  --background: #e8eefa;
  --orkut-blue: #6e83b7;
  --orkut-blue-dark: #315c99;
  --orkut-link: #315c99;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background);
}

body {
  font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 11px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--orkut-link);
  text-decoration: none;
}

/* Ajustes específicos para o Orkut */
.orkut-rounded {
  border-radius: 6px; /* Cantos arredondados característicos do Orkut */
}

/* Configurações para layout mobile-first */
.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* Media queries para telas maiores (abordagem mobile-first) */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* Esquema de cores escuras */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  
  html {
    color-scheme: dark;
  }
}
